# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# auth key file
AuthKey_23KF9B8626.p8

# generating jwt token from auth key file
generate-token.cjs

# firebase files
firebase-messaging-sw.js
firebase.js

# functions
functions/index.js

# environment variables
.env