.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 40px auto;
  gap: 25px;
}

.authorize {
  display: flex;
  gap: 20px;
}

.btn {
  margin: 26px;
}
